

<div class="container">
    <h3>Контакты</h3>
    <div class="text-black">
        г.Челябинск, ул. Чичерина, 42В<br>
    </div>
    <div class="text-black">
        +7 (351) 778-70-00<br>
        +7 (351) 778-71-11
    </div>
</div>
