@{
    ViewData["Title"] = "Автоковчег";
}

@*@await Component.InvokeAsync("ParkingSpaceViewComponent")*@

<p class="text-danger">
    Пожалуйста уважайте друг друга!<n />
    Старайтесь оплачивать паркинг заранее, чтобы не создавать затор на выезде.
</p>



<div class="container">
    <h3>Посуточная парковка</h3>
    <p>Стоимость : 100 рублей день</p>
    <ol>
        <li>Для въезда на паркинг необходимо подъехать к въездной стойке.</li>
        <li>Нажать на кнопку на въездной стойке.</li>
        <li>Взять карту, на которой написан номер въезда.</li>
        <li>Припарковаться на место на паркенге.</li>
        <li>Перед выездом с паркинга оплатить парковку за все дни нахождения автомобиля.</li>
    </ol>
</div>
<div class="container">
    <h3>Парковка с заключением договора длительной аренды на 1/3/6 месяц (30/90/180 дней)</h3>
    <p>Стоимость : 2550/7200/13800 рублей</p>
    <ol>
        <li>Выбрать свободное парковочное место.</li>
        <li>Оставить заявку на заключение договора.</li>
        <li>Дождаться подтверждения заявки.Вам придет уведомление в личном кабинете и позвонит администратор.</li>
        <li>Подойти к администратору на парковке, оформить договор, забрать парковочную карту с местом.</li>
        <li>Оплатить договор.</li>
    </ol>
</div>



<div class="container">
    <h3>Способы оплаты</h3>
    <ul>
        <li>Оплата безналичным смособом в личном кабинете для карт длительной аренды.</li>
        <li>Оплата безналичным смотобом охранику паркинга.</li>
        <li>Оплата наличными в автомате возле лифта на первом этаже.</li>
    </ul>
</div>



<div class="container">
    <h3>Безопасность паркинга</h3>
    <p>
        Парковки оборудованы автоматизированной парковочной системой с
        отдельными зонами въезда и выезда, современной системой видеонаблюдения,
        что обеспечивает высокий уровень безопасности автотранспорта.
    </p>
</div>

