@model AvtokovchegApp.Models.RequestViewModel

<h2>Заполните заявку для аренды парковочного места номер @ViewBag.parkingSpace.Namber</h2>


@using (Html.BeginForm("Request", "Home", FormMethod.Post))
{
    <input asp-for="ParkingSpaceId" type="hidden" value="@ViewBag.parkingSpace.Namber" name="Namber" />
    <div class="row g-3">
        <div class="col-md-4">
            <label asp-for="Renter.Name" class="form-label">Имя</label>
            <input asp-for="Renter.Name" type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label asp-for="Renter.Surname" class="form-label">Фамилия</label>
            <input asp-for="Renter.Surname" type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label asp-for="Renter.Patronymic" class="form-label">Отчество</label>
            <input asp-for=Renter.Patronymic type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label asp-for="Holder.Name" class="form-label">Имя владельца автомобиля</label>
            <input asp-for="Holder.Name" type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label asp-for="Holder.Surname" class="form-label">Фамилия владельца автомобиля</label>
            <input asp-for="Holder.Surname" type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label asp-for="Holder.Patronymic" class="form-label">Отчество владельца автомобиля</label>
            <input asp-for=Holder.Patronymic type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label asp-for="Car.CarBrand" class="form-label">Марка автомобиля</label>
            <input asp-for="Car.CarBrand" type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label asp-for="Car.CarModel" class="form-label">Модель автомобиля</label>
            <input asp-for="Car.CarModel" type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label asp-for="Car.Namber" class="form-label">Номер автомобиля</label>
            <input asp-for="Car.Namber" type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label asp-for="Renter.PhoneNamber" class="form-label">Номер телефона</label>
            <input asp-for="Renter.PhoneNamber" type="tel" class="form-control" />
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Отправить заявку"/>
        </div>
    </div>
}
