@model DetailСontractSpaceViewModel

@{
    ViewBag.Title = "Подробная информация о договоре";
}

<form class="row">
    <div class="col-md-4">
        <label asp-for="DateStart" class="form-label"></label>
        <input asp-for="DateStart" class="form-control" />
    </div>
    <div class="col-md-4">
        <label asp-for="DateEnd" class="form-label"></label>
        <input asp-for="DateEnd" class="form-control" />
    </div>
    <div class="col-md-4">
        <label asp-for="Time" class="form-label"></label>
        <input asp-for="Time" class="form-control" />
    </div>
    <div class="col-md-4">
        <label asp-for="NamberContract" class="form-label"></label>
        <input asp-for="NamberContract" class="form-control" />
    </div>
    <div class="col-md-4">
        <label asp-for="NamberSpace" class="form-label"></label>
        <input asp-for="NamberSpace" class="form-control" />
    </div>
    <div class="col-md-4">
        <label asp-for="UserPhoneNamber" class="form-label"></label>
        <input asp-for="UserPhoneNamber" class="form-control" />
    </div>
    <div class="col-md-4">
        <label asp-for="UserSurname" class="form-label"></label>
        <input asp-for="UserSurname" class="form-control" />
    </div>
    <div class="col-md-4">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="col-md-4">
        <label asp-for="UserPatronymic" class="form-label"></label>
        <input asp-for="UserPatronymic" class="form-control" />
    </div>
</form>

